.cart-item {
  padding: 16px 0;
  border-bottom: 2px solid #8a2b06;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0 0 8px 0;
    color: #363636;
  }

  .summary {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-weight: bold;
    color: #8a2b06;
  }

  .amount {
    padding: 4pxm 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: bold;
    color: #363636;
  }

  .actions {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  button {
    width: 48px;
    border: 1px solid #8a2b06;
    border-radius: 6px;
    margin: 4px 4px 4px 16px;
    background-color: transparent;
    color: #8a2b06;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #8a2b06;
      color: #fff;
    }
  }
}

